In [1]:
import pandas as pd

In [3]:
file = pd.read_csv("dates.txt",names = ["dates"])

0      04-25-2018
1      04-24-2018
2      04-23-2018
3      04-22-2018
4      04-21-2018
5      04-20-2018
6      04-19-2018
7      04-18-2018
8      04-17-2018
9      04-16-2018
10     04-15-2018
11     04-14-2018
12     04-13-2018
13     04-12-2018
14     04-11-2018
15     04-10-2018
16     04-09-2018
17     04-08-2018
18     04-07-2018
19     04-06-2018
20     04-05-2018
21     04-04-2018
22     04-03-2018
23     04-02-2018
24     04-01-2018
25     03-31-2018
26     03-30-2018
27     03-29-2018
28     03-28-2018
29     03-27-2018
          ...
448    01-30-2017
449    01-29-2017
450    01-28-2017
451    01-27-2017
452    01-26-2017
453    01-25-2017
454    01-24-2017
455    01-23-2017
456    01-22-2017
457    01-21-2017
458    01-20-2017
459    01-19-2017
460    01-18-2017
461    01-17-2017
462    01-16-2017
463    01-15-2017
464    01-14-2017
465    01-13-2017
466    01-12-2017
467    01-11-2017
468    01-10-2017
469    01-09-2017
470    01-08-2017
471    01-07-2017
472    01-06-2017
473    01-05-2017
474    01-04-2017
475    01-03-2017
476    01-02-2017
477    01-01-2017
Name: dates, Length: 478, dtype: object

In [8]:

def reformat(x):
    i = x.split("-")
    return i[2] + "-" + i[0] + "-" + i[1]


file["dates"].apply(reformat)

0      2018-04-25
1      2018-04-24
2      2018-04-23
3      2018-04-22
4      2018-04-21
5      2018-04-20
6      2018-04-19
7      2018-04-18
8      2018-04-17
9      2018-04-16
10     2018-04-15
11     2018-04-14
12     2018-04-13
13     2018-04-12
14     2018-04-11
15     2018-04-10
16     2018-04-09
17     2018-04-08
18     2018-04-07
19     2018-04-06
20     2018-04-05
21     2018-04-04
22     2018-04-03
23     2018-04-02
24     2018-04-01
25     2018-03-31
26     2018-03-30
27     2018-03-29
28     2018-03-28
29     2018-03-27
          ...
448    2017-01-30
449    2017-01-29
450    2017-01-28
451    2017-01-27
452    2017-01-26
453    2017-01-25
454    2017-01-24
455    2017-01-23
456    2017-01-22
457    2017-01-21
458    2017-01-20
459    2017-01-19
460    2017-01-18
461    2017-01-17
462    2017-01-16
463    2017-01-15
464    2017-01-14
465    2017-01-13
466    2017-01-12
467    2017-01-11
468    2017-01-10
469    2017-01-09
470    2017-01-08
471    2017-01-07
472    2017-01-06
473    2017-01-05
474    2017-01-04
475    2017-01-03
476    2017-01-02
477    2017-01-01
Name: dates, Length: 478, dtype: object

In [12]:
file.to_csv("dates.txt",header=False, index=False)